@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    background-color: rgb(253, 250, 236);
    height: 10000px;
}

#titlename {
    font-family: 'Electrolize', sans-serif;
    font-size: 4rem;
    position: fixed;
    top: 2rem;
    left: 16rem;
    color: #9c8155;
}

#quote {
    font-family: 'Electrolize', sans-serif;
    font-size: 2rem;
    width: 300px;
    text-align: left;
    position: fixed;
    top: 8rem;
    right: 6.5rem;
    color: #9c8155;
}

#quoteauthor {
    font-size: 1.5rem;
}

.letterbar {
    height: 900px;
    width: 100px;
    margin-top: -2.2rem;
    background-color: #776241;
}

.letterbarform {
    font-family: 'Electrolize', sans-serif;
    font-size: 8rem;
    text-align: center;
    position: fixed;
    height: 1000px;
    width: 100px;
    color: #776241;
}
#lettera {
    left: 15rem;
    top: 8rem;
}

#letterb {
    left: 22rem;
    top: 8rem;
}

#letterc {
    left: 29rem;
    top: 8rem;
}

.letterbartwo {
    height: 900px;
    width: 100px;
    margin-top: -2.2rem;
    background-color: #af905e;
}

.letterbarformtwo {
    font-family: 'Electrolize', sans-serif;
    font-size: 8rem;
    text-align: center;
    position: fixed;
    height: 1000px;
    width: 100px;
    color: #af905e;
}
#letterd {
    left: 32rem;
    top: 18rem;
}

#lettere {
    left: 39rem;
    top: 18rem;
}

#letterf {
    left: 46rem;
    top: 18rem;
}

#letterg {
    left: 53rem;
    top: 18rem;
}


.letterbarthree {
    height: 900px;
    width: 100px;
    margin-top: -2.2rem;
    background-color: #d0af7c;
}

.letterbarformthree {
    font-family: 'Electrolize', sans-serif;
    font-size: 8rem;
    text-align: center;
    position: fixed;
    height: 1000px;
    width: 100px;
    color: #d0af7c;
}
#letterh {
    left: 19rem;
    top: 28rem;
}

#letteri {
    left: 26rem;
    top: 28rem;
}

#letterj {
    left: 33rem;
    top: 28rem;
}

#letterk {
    left: 40rem;
    top: 28rem;
}

.buttonstyle {
    text-align: center;
  cursor: pointer;
  outline: none;
  color: #a28d5b;
  background-color: #f0ead6;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #dfd7c4;
    padding: 10px 50px;
    position: fixed;
    top: -4rem;
    left: 16rem;
    text-decoration: none;
    font-family: 'Electrolize', sans-serif;
}

.buttonstyle:hover {background-color: #e6e0cc}

.buttonstyle:active {
  background-color: #f1ecd8;
  box-shadow: 0 2.5px #dfd7c4;
  transform: translateY(4px);
}

.buttonstyletwo {
    top: 7.0832rem;
}

.buttonstylethree {
    top: 11.8491rem;
}
.buttonstylefour {
    top: 16.5106rem;
}
.buttonstylefive {
    top: 21.1721rem;
}
.buttonstylesix {
    top: 25.8336rem;
}
.buttonstyleseven {
    top: 30.4951rem;
}

#scrollwheel {
    position: fixed;
    right: 8rem;
    top: 38.5rem;
    opacity: 0.25;
    height: 300px;
    animation-name: spin;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
    from {transform: rotate(0deg); }
    to {transform: rotate(360deg);}
  }

#textgear {
    left: -1.65em;
    position: fixed;
    top: -1.5em;
    width: 3000px;
    z-index: 2;
}

#gearone {
    left: -1.5em;
    position: fixed;
    top: 2.1em;
    width: 150px;
    z-index: 2;
}

#geartwo {
    left: 3.8em;
    position: fixed;
    top: 9em;
    width: 150px;
    z-index: 2;
}

#gearthree {
    left: -4.3em;
    position: fixed;
    top: 14.2em;
    width: 171px;
    z-index: 2;
}

#gearfour {
    left: -1.15em;
    position: fixed;
    top: 23.5em;
    width: 240px;
    z-index: 2;
}

#gearfive {
    left: -3em;
    position: fixed;
    top: 37.5em;
    width: 500px;
    z-index: 2;
}

#contentbox {
    background-color: #f0ead6;
    border-radius: 5px;
    position: fixed;
    top: 49.9rem;
    left: 33.8rem;
    height: 2600px;
    width: 800px;
    z-index: 2;
}

#textedge {
    position: fixed;
    top: 49.9rem;
    left: 30.3rem;
    height: 2600px;
    width: 50px;
    background-color: #9c8155;
    z-index: 2;
}

#box {
    position: relative;
    background-color: blue;
    width: 100px;
    height: 100px;
    top: 20rem;
}

.videoall {
    position: absolute;
    right: 13rem;
}

#videoone {
    top: 10rem;
}

#videotwo {
    top: 35rem;
}