body {
    margin: 0;
    font-family: Georgia;
    height: 6000px;
}

#textgear {
    left: -1.47em;
    position: fixed;
    top: -0.2em;
    width: 2000px;
    z-index: 3;
}

#gearone {
    left: -1.5em;
    position: fixed;
    top: 2.1em;
    width: 150px;
    z-index: 3;
}
#geartwo {
    left: 4em;
    position: fixed;
    top: 8.95em;
    width: 150px;
    z-index: 3;
}
#gearthree {
    left: -4em;
    position: fixed;
    top: 14.4em;
    width: 171px;
    z-index: 3;
}
#gearfour {
    left: -2em;
    position: fixed;
    top: 23.85em;
    width: 240px;
    z-index: 3;
}
#gearfive {
    left: 0.6em;
    position: fixed;
    top: 35.15em;
    width: 500px;
    z-index: 3;
}